---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>We release interesting articles <br /> about technology</h1>
    <img src="Seperator.svg" alt="Seperator" />
    <ul>
      <Card
        title="Unlocking the Power of Cloud Computing: A Guide to Scalable Solutions"
        img="/images/photo_1.png"
        imgAlt="Photo 1"
        date="November 12, 2024"
      />
      <Card
        title="The Future of AI: How Machine Learning is Revolutionizing Industries"
        img="/images/photo_2.png"
        imgAlt="Photo 2"
        date="November 12, 2024"
      />
      <Card
        title="The Impact of 5G on Business: How Faster Networks are Transforming the Way We Work"
        img="/images/photo_3.png"
        imgAlt="Photo 3"
        date="November 12, 2024"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    padding: 33.3rem;
  }
  h1 {
  }
  img {
    display: block;
    margin: 0 auto;
  }
  ul {
    padding: 0;
		gap: 2rem;
		display: flex;
		flex-direction: column;
  }
	@media screen and (max-width: 1280px) {
		main {
			padding: 13.5rem;
		}
		
	}
	@media screen and (max-width: 1024px) {
		main {
			padding: 7rem;
		}
	}
	@media screen and (max-width: 640px) {
		main {
			padding: 0;
		}
	}
</style>
